<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title></title>
  <link href="/app.css?v=<%= process.env['VERSION'] %>" rel="stylesheet">
</head>
<body>
  <div id="container"></div>
  <script type="text/javascript" src="/app.js?v=<%= process.env['VERSION'] %>"></script>
</body>
</html>