<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title></title>
  <link href="/app.css?v=<%= process.env['VERSION'] %>" rel="stylesheet">
</head>
<body>
  <div id="container"></div>
  <script type="application/json">
    <%- JSON.stringify(payload) %>
  </script>
  <script type="text/javascript" src="/app.js?v=<%= process.env['VERSION'] %>"></script>
  <script type="text/javascript">
    const jsonNode = document.querySelector('script[type="application/json"]');
    const jsonData = JSON.parse(jsonNode.textContent);
    Renderer.render({
      recipe: jsonData,
      type: '<%- type %>',
    });
  </script>
</body>
</html>